@font-face {
  font-family: 'OpenSans';
  src: url(https://netology-code.github.io/html-2-diploma/fonts/OpenSans-Regular.woff);
  src: local('OpenSans'), local('OpenSans'),
  url('https://netology-code.github.io/html-2-diploma/fonts/OpenSans-Regular.woff2') format('woff2'),
  url('https://netology-code.github.io/html-2-diploma/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/fonts/OpenSans-Bold.woff);
  src: local('OpenSans'), local('OpenSans'),
  url('https://netology-code.github.io/html-2-diploma/fonts/OpenSans-Bold.woff2') format('woff2'),
  url('https://netology-code.github.io/html-2-diploma/fonts/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans, Verdana, Geneva, Arial, Tahoma, Helvetica, sans-serif;
  font-size: 62.5%; /* 10px*/
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:focus, a:active, a:hover, a:visited {
  color: inherit;
}

.header {
  position: relative;
  padding-top: 3.2rem;
  padding-right: 2.1rem;
  padding-bottom: 7rem;
  padding-left: 2.1rem;
  color: #ffffff;
  background-color: #1c1f40;
  background-image: url(../img/football_767.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.header::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #191c3b;
  opacity: 0.95;
  content: "";
  z-index: 1;
}

.logotype {
  display: block;
  width: 13.3rem;
  height: 3.6rem;
  margin-left: auto;
  margin-right: auto;
}

.logotype_image {
  width: inherit;
  height: inherit;
  fill: #ffffff;
}

.header_title {
  margin-top: 13rem;
  margin-bottom: 8rem;
  font-size: 2.8rem;
  line-height: 3.1rem;
}

.button {
  color: #ffffff;
  background-color: #5e42b0;
  fill: #ffffff;
}

.button.download {
  padding-top: 9px;
  padding-left: 11.2rem;
  background-position: 8.2rem 50%;
  background-repeat: no-repeat;
  background-size: auto 2.4rem;
}

.button.apple {
  background-image: url(../img/apple_logo_black.svg);
}

.button.google {
  background-image: url(../img/google-play.svg);
}
